@font-face {
    font-family: "Torus Pro Bold";
    src: url("../../fonts/TorusPro-Bold.ttf") format("truetype");
}

body {
    /* background-color: rgb(9, 9, 9) */
    background-color: white;

    margin: 0;
}

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 999;

    mix-blend-mode: difference;

    position: fixed;
    right: 5vw;
    top: 5vh;

    width: 5vw;
    height: 5vh;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#fff;
    stroke-width:5.5;
    stroke-linecap:round;
}

.ham1 .top {
    stroke-dasharray: 40 139;
}

.ham1 .bottom {
    stroke-dasharray: 40 180;
}

.ham1.active .top {
    stroke-dashoffset: -98px;
}

.ham1.active .bottom {
    stroke-dashoffset: -138px;
}

#nav-backdrop {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);

    width: 100%; height: 100%;
    backdrop-filter: blur(0.1rem);
    opacity: 0%;

    transition: 0.5s ease;
    pointer-events: none;
    z-index: 900;
}

#nav-bg {
    position: fixed;
    background-color: white;
    filter: drop-shadow(0vw 0vh 20vh transparent);

    width: 100%; height: 16vh;
    top: -16vh;

    z-index: 902;
    transition: 0.6s ease;
}

#nav-opt-sect {
    position: fixed;
    background-color: transparent;

    width: 60%; height: 16vh;
    top: 0vh; left: 50%;
    transform: translate(-50%, 0%);
    
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 6vw;
}

.n-opt {
    position: relative;
    top: -10vh;

    color: black;
    font-family: "Torus Pro Bold";
    font-size: 2.3vh;
    letter-spacing: 0.06vw;

    text-decoration: none;

    transition: 0.8s ease;
    transition-delay: 0s;
}

.nav-transfer-prompt {
    position: fixed;
    background-color: black;
    color: white;

    width: 100%; height: 5vh;
    top: 11vh;
    
    z-index: 901;
    transition: 0.5s ease;
}

.nav-tp-txt {
    position: absolute;
    top: -0.4vh; left: 50%;
    transform: translate(-50%, 0%);

    font-family: "Torus Pro Bold";
    font-size: 1.8vh;
    letter-spacing: 0.06vw;
}

nav:has(.n-opt:hover:not(#n3)) .nav-transfer-prompt {
    top: 16vh;
}

#n1 {
    transition-delay: 0.4s;
}

#n2 {
    transition-delay: 0.3s;
}

#n3 {
    transition-delay: 0.2s;
}

#n4 {
    transition-delay: 0.1s;
}

body[data-nav="true"] #n1 #n2 #n3 #n4 {
    transition-delay: 0s;
}

body[data-nav="true"] .n-opt {
    top: 0vh;
}

body[data-nav="true"] #nav-backdrop {
    opacity: 100%;
}

body[data-nav="true"] #nav-bg {
    filter: drop-shadow(0vw 0vh 20vh rgba(0, 0, 0, 0.3));
    top: 0vh;
}